{% extends "page/checkout/payment.html.twig" %}

{% block select_payment %}
    {% if sPaymentID == "easycreditinstallment" %}
        <div class="well well-sm">
            {% include "frontend/tpl/page/checkout/inc/payment_easycreditinstallment.html.twig" %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}