<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxorders">
            <SUBMENU id="mxdisplayorders" cl="admin_order" list="order_list">
                <TAB id="tbclorder_oxpseasycredit" cl="easycreditordereasycredit"/>
            </SUBMENU>
        </MAINMENU>
        <MAINMENU id="mxeasycredit">
            <SUBMENU id="oxpseasycreditoverview" cl="easycreditoverview" list="easycreditoverview_list">
                <TAB id="easycreditoverview_main" cl="easycreditoverview_main"/>
                <BTN id="easycreditoverview_new"/>
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>